/* Footer.module.css */

.footer {
    background-color: #3f6a3b;
    color: #fff;
    padding: 20px;
    padding-top: 2px;
    text-align: left;
    height: 25px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 25px;
    width: 250px;
  }
  